@charset "utf-8";
/* CSS Document */


#navilinks {
	margin: 5px;
}

#navilinks a {
	font-size:18px;
	text-decoration:none;
	color: white;
	padding: 10px 5px 10px 0;

}

#navilinks a:hover {
	color: black;
}

#navilinks ul {
	list-style:none;
	text-align:right; 
	border-right: 1px dotted #000; 
}

#navilinks li:hover {
	background:#FFFFFF;
}
